<html>
<head>
<link href=3D"css/emailStyle.css" type=3D"text/css" rel=3D"stylesheet">
</head>
<body>
<div>
<div class=3D"logo">
<img src=3D"../../../images/Logo.png">
</div>
<table>
=09<tr>
=09=09<td><h2>Hola Usuario,</h2></td>
=09</tr>
=09<tr>
=09=09<td><h2 class=3D"title">Inforamci=C3=B3n para tu nueva cuenta en Desi=
gnador</h2></td>
=09</tr>
=09<tr>
=09=09<td style=3D"padding-bottom: 10px;">Se ha creado una cuenta de usuari=
o en <a href=3D"http://localhost:8080/Designador">Designador</a> por parte =
de tu administrador.</td>
=09</tr>
=09<tr>
=09=09<td style=3D"padding-bottom: 10px;"><a href=3D"http://localhost:8080/=
Designador">Designador</a> es una aplicaci=C3=B3n web que se utiliza para a=
yudar a los arbitros y a los designadores para la gesti=C3=B3n de la design=
aci=C3=B3n de =C3=A1rbitros en competiciones de baloncesto.</td>
=09</tr>
=09<tr>
=09=09<td style=3D"padding-bottom: 25px;">Por favor, pulsa en el enlace de =
abajo para empezar:</td>
=09</tr>
=09<tr>
=09=09<td><b><a href=3D"http://localhost:8080/Designador/changePassword?id=
=3D$token" >Crear una nueva contrase=C3=B1a</a></b></td>
=09</tr>
=09<tr>
=09=09<td>
=09=09=09<ul>
=09=09=09=09<li>Tu nombre de usuario ser=C3=A1 visible en est=C3=A1 p=C3=A1=
gina.</li>
=09=09=09=09<li>En la casilla <b>Nueva Contrase=C3=B1a</b>, escribe una nue=
va contrase=C3=B1a para tu cuenta.</li>
=09=09=09=09<li>En la casilla <b>Vuelve a escribir la contrase=C3=B1a</b>, =
vuelve a escribir la misma contrase=C3=B1a.</li>
=09=09=09=09<li>Haz Clic sobre <b>Cambiar contrase=C3=B1a y Iniciar sesi=C3=
=B3n</b>.</li>
=09=09=09</ul>
=09=09</td>
=09</tr>
=09<tr>
=09=09<td style=3D"padding-bottom: 25px;">Si tienes cualquier problema para=
 entrar en el sistema, ponte en contacto con nosotros en <a target=3D"_blan=
k" href=3D"mailto:soporte@designador.com"> soporte@designador.com</a>.</td>
=09</tr>
=09<tr>
=09=09<td>Gracias por utilizar <a href=3D"http://localhost:8080/Designador"=
>Designador</a></td>
=09</tr>
=09<tr>
=09=09<td>Administrador</td>
=09</tr>
</table>
</div>
</body>
</html>
=09