<html>
<head>
</head>
<body style="background-color: #e8e7e6;">
	<div>
		<div style="margin-left: 12px;">
			<img src="cid:logoImage">
		</div>
		<table  style="background-color:#ffffff;margin:0 auto;padding:20px 10px; width:95%;">
			<tr>
				<td><h2>Hola $firstName,</h2></td>
			</tr>
			<tr>
				<td><h2 style="color: #ffffff; padding: 20px; background-color: #c1461c;">
				Instrucciones Para Restablecer Tu Contraseña</h2></td>
			</tr>
			<tr>
				<td style="padding-bottom: 10px;">Has solicitado restablecer la contraseña en tu cuenta en <a style="color: #c1461c;"
					href="http://localhost:8080/Designator">Designator</a>. Si no lo has solicitado, por favor ignora este correo electrónico.</td>
			</tr>
			<tr>
				<td style="padding-bottom: 25px;">Para restablecer tu contraseña, pulsa en el siguiente enlace
					para crear la nueva contraseña de tu cuenta. Recuerda que esta
					opción caduca a las 24 horas de haber recibido este e-mail.</td>
			</tr>
			<tr>
				<td><a
					href="http://localhost:8080/Designator/user/changePassword?id=$token"
					style="color: #c1461c;">Crear una nueva contraseña</a></td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Tu nombre de usuario será visible en está página.</li>
						<li>En la casilla <b>Nueva Contraseña</b>, escribe una nueva
							contraseña para tu cuenta.
						</li>
						<li>En la casilla <b>Vuelve a escribir la contraseña</b>,
							vuelve a escribir la misma contraseña.
						</li>
						<li>Haz Clic sobre <b>Cambiar contraseña y Iniciar sesión</b>.
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td style="padding-bottom: 25px;">Si tienes cualquier problema
					para entrar en el sistema, ponte en contacto con nosotros en <a
					target="_blank" style="color: #c1461c;"
					href="mailto:soporte@designator.com"> soporte@designator.com</a>.
				</td>
			</tr>
			<tr>
				<td>Gracias por utilizar <a style="color: #c1461c;"
					href="http://localhost:8080/Designator">Designator</a></td>
			</tr>
		</table>
		<div style="color: #e8e7e6">end</div>
	</div>
</body>
</html>