<table style="width:70%; margin-left:20px">
	<tr>
		<td><h2>¿Has olvidado tu contreaseña?</h2></td>
	</tr>
	<tr>
		<td style="padding-bottom: 10px;">Por razones de seguridad, no te podemos enviar tu contraseña por e-mail.</td>
	</tr>
	<tr>
		<td style="padding-bottom: 25px;">Pulsa en el siguiente enlace para crear la nueva contraseña de tu cuenta. Recuerda que esta opción caduca a las 24 horas de haber recibido este e-mail.</td>
	</tr>
	<tr>
		<td style="font-size:22px; font-weight: bold;color:DodgerBlue;"><a href="http://localhost:8080/Designador/changePassword?id=$idPasswordChangeRequest" style="color:inherit;">Crear una nueva contraseña</a> »</td>
	</tr>
</table>
	
