@import url("commonStyle.css");

.cross {
	background-image: url("../images/cross-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:12px;
}

.check {
	background-image: url("../images/check-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:12px;
}


.show-all-referees {
	display:none;
}

.available-referees{
	width:100%;
}

.available-referees th{
	width:0.041666%;
	border:none;
	padding: 8px 0;
}

.available-refereesth:first{
	border-left: 1px solid #ddd;	
}
