@import url("commonStyle.css");

tr:nth-child(odd) {
	background: inherit;
}

tr:nth-child(even) {
	background: #e8e7e6;
}

.month-calendar{
	width:60%;
	display:inline-table;
	margin-bottom:20px;
}

.month-calendar > table{
	color:#5b5b5b;
}

.month-calendar  > table td {
	border:1px solid #333;
	text-align:right;
	width:66px;
	height:66px;
}

.garbage{
	cursor: pointer;
    float: left;
    margin-right: 5px;
    width: 16px;
}


.cross {
	background-image: url("../images/cross-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:12px;
}

.check {
	background-image: url("../images/check-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:12px;
}

#availableDates {
	display:inline-table; 
}

.availability-form{
	display:inline;
}

.availability-form input[type="text"]{
	width:50px;
	text-align:center;
}

 .availability-form input[id^="datepicker"]{
	width:80px;
}

