@import url("commonStyle.css");
@import url("idle-timeout.css");

.change-password-box {
	width: 35%;
	margin-left: 32.5%;
}

.change-password-box > div {
	margin-bottom:10px;
}

.password, .repassword {
	border: 1px solid #dedede;
    height: 25px;
    width: 100%;
}