@import url("commonStyle.css");


.games{
	width:100%;
}
.games th{
	text-align:center;
	border:0;
}

.games td {
	height:0;
	border:0;
	padding: 0 6px;
}

.nowrap td{
	white-space:nowrap;
}

.games tr{
	background: #f8f8f8 ;
}

.games b, .game-info td b {
	color:#5b5b5b;
}

.games tr:nth-child(3n + 2) > td:first-child{
	color:#5b5b5b;
}

.games tr:nth-child(3n + 2) > td:first-child > *{
	max-width:70px;
	font-size:12px;
	white-space:normal;
}

.table{
	display:table;
	width:100%;
}
.table > .row {
	text-align:center;
}

.table > .row > div:first-child {
	text-align:right;
}
.table > .row > div:nth-child(2) {
	text-align:left;
	padding-bottom:5px;
	
}



.games tr:nth-child(3n + 2) > td:nth-child(2){
	color: #5b5b5b;
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    white-space:nowrap;
}

.games tr:nth-child(3n + 2) > td:nth-child(2) > div{
	display:inline;
}

.games tr:nth-child(3n + 2) > td:nth-child(2) > span{
    font-size: 10px;
}

.games tr:nth-child(3n + 2) > td:nth-child(3){
    text-align: center;
}
.games tr:nth-child(3n + 2) > td:nth-child(3) > div{
    text-align: left;
    display:inline-block;
    margin: 5px 0;
}

.save-assignment {
	display:none;
}
.save-assignment > td {
	text-align:center;
	padding-bottom:10px;
	color:#5b5b5b;
}

.save-assignment input {
	margin-right:20px;
}

.conflicts{
	display:none;
	position:relative;
}
.conflicts-types {
	background-color: #000;
    border-radius: 5px;
    color: #fff !important;
    left: -140px;
    display:none;
    max-width: 200px !important;
    padding: 5px 10px;
    position: absolute;
    top: -45px;
}

.conflicts-types:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000;
	border-width: 5px;
	margin-top: -5px;
}

.games tr:nth-child(3n + 2) > td:nth-child(6)  > div{
	margin:5px 0;
	color:#5b5b5b;
	font-size:12px;
	max-width:50px;
}

.games tr:nth-child(3n + 3) > td:nth-child(1) > div, .games tr:nth-child(3n + 3) > td:nth-child(2) > div{
    text-align: left;
    display:inline-block;
}

.games tr:nth-child(6n + 5), .games tr:nth-child(6n + 6), .games tr:nth-child(6n + 7){
	background: #e8e7e6 !important;
}

.published, .no-published{
    border-radius: 0.25em;
    color: #fff;
    text-align: center;
    padding: 2px 4px;
}

.published {
	background-color: #5cb85c;
}

.no-published{
	background-color: #f0ad4e;
}

.not-assigned, .not-required{
    border-radius: 0.25em;
    color: #fff;
    text-align: center;
    font-size:12px;
    padding: 2px 4px;
    display: inline;
}

.not-assigned{
	background-color: #f0ad4e;
}

.not-required{
	background-color: #5b5b5b;
}

.row{
	display:table-row;
}

.row > div{
	padding: 0 2px;
}

.confirmation {
	width:14px;
	vertical-align:text-top;
}

.game-info tr:nth-child(even) {
	background: #e8e7e6;
}

.game-info tr:nth-child(odd) {
	background: #f8f8f8;
}
.game-info th {
	text-align:center;
	background-color:#f8f8f8;
	border: 0;
}

.game-info th > a {
	padding: 0 5px;
}
.game-info td{
	
	width:auto;
	border-top:1px solid #ddd;
	border-style: solid none none;
}

.game-info  tr > td:first-child {
	font-weight: bold;
	color:#333;
}

.warning, .success {
    border-radius: 0.25em;
    color: white;
    padding: 4px;
}

.select-div {
   	height: 23px;
   	overflow: hidden;
   	background: url("../images/dropdown-icon.png")  no-repeat right #fff;
   	border-color: #dedede;
   	border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
}

.select-div > select {
	background: transparent;
   	width: 100%;
   	font-size: 11px;
   	border: 0;
   	height: 25px;
   	color:inherit;
   	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#gameForm .row{
	display:table;
}

#gameForm .row > div {
	padding-right:20px;
}

