html, body { margin:0; padding:0 }
#content { padding:10px; }
a { color:#477099 }

#bar { background:#252823; padding:5px 10px; border-bottom:4px solid #C3D3DA }
#bar h1 { margin:0; padding:0; color:#fff; font-size:40px; letter-spacing:-1px; text-shadow:0 0 4px #000000 }
#bar h1 span { color:#C3D3DA }
#bar div { float:right; margin-top:-50px; padding:20px 20px 0 0 }
#bar a { color:#fff; text-decoration:none }
#bar div a:hover { text-decoration:underline }


#idletimeout { background:#CC5100; border:3px solid #FF6500; color:#fff; font-family:arial, sans-serif; text-align:center; font-size:12px; padding:10px; position:relative; top:0px; left:0; right:0; z-index:100000; display:none; }
#idletimeout a { color:#fff; font-weight:bold }
#idletimeout span { font-weight:bold }