@import url("commonStyle.css");

.loginBox {
	width: 25%;
	margin-left: 37.5%;
	margin-top: 10%;	
	border: 1px solid #dedede;
	border-radius: 3px;
}

.boxHeader {
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
	border-bottom: 1px solid #dedede;
	color: #464647;
	padding: 10px;
	text-shadow: 0 1px #fff;
	font-weight: bold;
	font-size: 14px;
}

.boxContent {
	padding: 15px;
}

.loginButton {
	width: 100%;
	background: url("../images/btn_bg.png") 0 bottom repeat-x;
	height: 30px;
	border: 1px solid #a6330c;
	color: #ffffff;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 0 1px 0 0 #bfbfbf;
	letter-spacing: 0.5px;
	cursor: pointer;
}
