@include all-flags-sprites;

body {
	font: 13px/20px Arial,Helvetica,sans-serif;
	margin: 0;
}

/*header*/

nav {
    background: url(../images/header_bg.png) 0 0 repeat;
    height: 62px;
}

ul {
	list-style: outside none none;
}

.logo {
	width: 100%;
	margin: 0;
	padding-left: 0;
	display: inline-block;
}

.navbar-right {
	right: 5px;
	position: absolute;
	margin-top:21px;
	display: inline-block;
}

.dropdown-menu {
	display: none;
	padding: 8px 0;
}

#userName {
	margin-bottom: 8px;
}

#userName > span{
	text-decoration:none;
	padding: 10px 15px;
	cursor: pointer;	
}

.userNameColor {
	color: #8e8e8d;
}

#userName:hover > span{
    background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	border-bottom: 1px solid #1b1b1b;
	color: #ffffff;	
}

.userName {
	background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	border-bottom: 1px solid #1b1b1b;
	color: #ffffff;
}

.dropdown-menu > a{
	text-decoration:none;
	cursor: pointer;	
	color: #8e8e8d;
	background: url("../images/menu_bg.png") repeat-x scroll 0 0 #1b1b1b;
	border-bottom: 1px solid #1b1b1b;

}

.profile > a{
	padding: 10px 139px 10px 15px;
}
.messages > a{
	padding: 10px 113px 10px 15px;
}
.logout > a{
	padding: 10px 90.5px 10px 15px;
}
.dropdown-menu:hover > a{
	background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	color: #ffffff;
}

.arrow {
	width: 7px;
    height: 5px;
    background: url(../images/arrows.png) right 0 no-repeat;
    display:inline-block;
    
	
}

.errors {
	background-color: #FFCCCC;
	border: 1px solid #CC0000;
	width: 400px;
	margin-bottom: 8px;
}

.errorMessage li {
	list-style-type: none;
	margin-left: -25px;
}


.boxMessage {
	background-color: #DDFFDD;
	border: 1px solid #009900;
	width: 400px;
	margin-bottom: 8px;
}

.actionMessage li {
	list-style-type: none;
	margin-left: -25px;
}



.dojoTabContainer {
	margin-left: 20px;
	margin-right: 253px;
}

table.calendar {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	border: 1px solid black;
}

table.calendar td {
	height: 3.5em;
	vertical-align: top;
	text-align: right;
	width: 14%;
	border: 1px solid black;
}

td.active {
	background-color: yellow;
}

label {
	font-weight: bold;
}

.tr {
	margin-left: 20%;
}

a.passwordReset {
	font-size: 22px;
	font-weight: bold;
	color: DodgerBlue;
}

/*Confirmation JQuery*/
div[id^=confirmBox_] {
	display: none;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #aaa;
	width: 300px;
	margin-left: 10px;
	padding: 6px 8px 8px;
	box-sizing: border-box;
	text-align: center;
}

div[id^=confirmBox_] .button {
	background-color: #ccc;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 2px;
	text-align: center;
	width: 80px;
	cursor: pointer;
}

div[id^=confirmBox_] .button:hover {
	background-color: #ddd;
}

div[id^=confirmBox_] .message {
	margin-bottom: 8px;
}

#addComment {	
	display: block;
}

#cancelCommentLink {
	cursor: pointer;
	display: none;
}

#commentBody {
    height: 2em;
    width: 50%;
    padding: 3px;
}

#addCommentSubmit{
	display: none;
}



/**************Login******************/

.loginBox {
	width: 25%;
	margin-left: 37.5%;
	margin-top: 10%;	
	border: 1px solid #dedede;
	border-radius: 3px;
}

.boxHeader {
	background: -moz-linear-gradient(center top , #fdfdfd, #eaeaea) repeat scroll 0 0 / 100% auto #eaeaea;
	border-bottom: 1px solid #dedede;
	color: #464647;
	padding: 10px;
	text-shadow: 0 1px #fff;
	font-weight: bold;
	font-size: 14px;
}

.boxContent {
	padding: 15px;
}

.boxContent input {
	width: 100%;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #dedede;
	
}