@include all-flags-sprites;

body, table, td, p {
	font: 13px/20px Arial,Helvetica,sans-serif;
	margin: 0;
	background-color: #f8f8f8;
	color: #8c8b8b
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
    color: #c1461c;
    text-decoration: underline;
}

h3 {
	font-size: 24px;
	font-weight: 300;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

h3, h4, h5 {
	margin: 0;
	color: #5b5b5b;
	font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;
}

.btn {
	background: url("../images/btn_bg.png")  0 0 repeat-x;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #bfbfbf;
    color: #686868;
    cursor: pointer;
    font-weight: 500;
    padding: 0 12px;
    height: 28px;
    margin-top: 10px;
}

.btn:hover {
	color: #464647;
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
}
/*header*/
nav {
    background: url(../images/header_bg.png) 0 0 repeat;
    height: 62px;
}

ul {
	list-style: outside none none;
	margin: 0;	
	padding: 0;
}

.logo {
	width: 100%;
	padding-left: 0;
	display: inline-block;
	float: left;
}

.navbar-right {
	right: 0;
	position: absolute;
	margin-top:1px;
}

#userName {
	padding: 14px 20px;	
	cursor: pointer;	
}

#login a {
	display: block;
	padding: 20px;
	cursor: pointer;	

}

.profile-icon {
	width:32px;
	border-radius: 3px;
    margin-right: 10px;
    vertical-align: middle;
}

.home-icon, .games-icon, referee-icon {
	position: absolute;
    height: 20px;
    left: 20px;
    
}

.dropdown-menu > a, #login a{
	text-decoration:none;
	padding: 4px 0 4px 15px;
    display: block;
}


#userName:hover, #login a:hover, .dropdown-menu:hover, .userName {
    background: #1b1b1b;
	transition: all 0.5s ease 0s;
	border-bottom: 1px solid #373737;
}

.dropdown-menu:hover {
	opacity:0.9;
}


#userName:hover > span, #login a:hover, .dropdown-menu:hover > a, .userName > span{
	color: #ffffff;		
}

.dropdown-menu {
	display: none;
	background: #1b1b1b;
	cursor: pointer;	
	font-size: 12px;
	border-bottom: 1px solid #373737;
}

.arrow {
	width: 7px;
    height: 5px;
    background: url(../images/arrows.png) right 0 no-repeat;
    display:inline-block;
}

#logout {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}



/*******************Error & Info Messages***************/
.error {
	background: #e8a397;
    border: 1px solid #de7e6d;
    border-radius: 4px;
    box-shadow: 0 1px 2px #efc0b8 inset, 0 1px 1px #dfdfdf;
    margin-left: 1%;
    width: 80%;
}

.errorMessage li {
	list-style-type: none;
	margin-left: -25px;
	color:#7d2a1c;
	font-weight:normal;
}
.boxMessage {
	background: #acd954;
    border: 1px solid #97cc2e;
    border-radius: 4px;
    box-shadow: 0 1px 2px #bce075 inset, 0 1px 1px #dfdfdf;
    color: #2b3a0d;
    margin-left: 1%;
    width: 80%;
}

.actionMessage li {
	list-style-type: none;
	margin-left: -25px;
}

.close {
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: right;
    font-size: 21px;
    font-weight: bold;
    opacity: 0.2;
    position: relative;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.close:hover {
	opacity: 0.5;
	color: #000000;
}

/***************Left Menu*******************/

.sidebar-background {
	background: url(../images/header_bg.png) 0 0 repeat;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 190px;
    z-index: -1;
}

#leftMenu {
	float:left;
}

#leftMenu ul {
	margin: 0;
	margin-left: 5px;
	padding: 0;
	
}

#leftMenu li {
	background-color: #252528;
	transition: all 0.5s ease 0s;
	border-bottom: 1px solid #373737;
	cursor:pointer;
	position: relative;
}

#leftMenu li:hover {
	background-color: #1b1b1b;
}

#leftMenu li a {
	font-weight: normal;
	padding: 10px 60px;
	display: block;
}

#leftMenu li:hover a {
	text-decoration:none;
	color:#ffffff;	
}

.glow {
	background: none repeat scroll 0 0 #4d1c0b;
    box-shadow: 0 0 2px 1px #80371f inset;
    height: 39px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 5px;
    margin-left: -5px;
}

li.active .glow{
	background: none repeat scroll 0 0 #c1461c;
    box-shadow: 0 0 2px 1px #da9077 inset;
}

.active .glow::after {
	box-shadow: -10px 0 15px 20px rgba(255, 235, 205, 0.15);
    content: "";
    left: 10px;
    position: absolute;
    top: 20px;
}
#leftMenu li:hover .glow {
	background: none repeat scroll 0 0 #c1461c;
    box-shadow: 0 0 2px 1px #da9077 inset;
}

#leftMenu .arrow {
	margin-left:10px;
}

/****************Main content***************************/

.main-content {
	margin-left:190px;	
}

.content-title {
	background: #e8e7e6;
	padding-bottom: 10px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid #d9d9d9;
}

.content-title > * {
	padding: 15px;
	
}

.main-content > p, .main-content > .comments {
	padding: 15px;
	margin: 0;
}

.home-black-icon {
    height: 20px;    
}

.calendar {
	width: 97%;
	margin: 0 1.5%;
	border-collapse: collapse;
}

th {
	border-bottom:2px solid #ddd;
	text-align: left;
	padding: 8px;
	color: #5b5b5b;
}

td {
	height: 3.5em;
	vertical-align: top;
	text-align: right;
	width: 14%;
	border: 1px solid #ddd;
	padding: 8px;
}

.active {
	background-color: #c1461c;
	color: #fff;
}

.future {
	font-weight: bold;
}

.comments h4 {
	padding-bottom: 15px;
}

#commentBody {
    height: 2em;
    width: 33%;
    padding: 3px;
	color: inherit;
}

.addCommentSubmit {
	display:none;
}

.comments-list {
	margin-left: 15px;
	margin-top: 30px;
}
.avatar {
	border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    width: 32px;
    position: absolute;
}


.info:after, .info:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.info:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 6px;
	margin-top: -6px;
}
.info:before {
	border-color: rgba(181, 205, 215, 0);
	border-right-color: #b5cdd7;
	border-width: 7px;
	margin-top: -7px;
}

.info {
	border: 1px solid #b5cdd7;
	margin-left: 47px;
	padding:5px;
	background-color:white;
	position:relative;
}

.name {
	padding-left:10px;
}
.time {
	float:right;
	padding-right:10px;
}

/******************************************/

.dojoTabContainer {
	margin-left: 20px;
	margin-right: 253px;
}

a.passwordReset {
	font-size: 22px;
	font-weight: bold;
	color: DodgerBlue;
}

/*Confirmation JQuery*/
div[id^=confirmBox_] {
	display: none;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #aaa;
	width: 300px;
	margin-left: 10px;
	padding: 6px 8px 8px;
	box-sizing: border-box;
	text-align: center;
}

div[id^=confirmBox_] .button {
	background-color: #ccc;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 2px;
	text-align: center;
	width: 80px;
	cursor: pointer;
}

div[id^=confirmBox_] .button:hover {
	background-color: #ddd;
}

div[id^=confirmBox_] .message {
	margin-bottom: 8px;
}


/**************Login box******************/

.loginBox {
	width: 25%;
	margin-left: 37.5%;
	margin-top: 10%;	
	border: 1px solid #dedede;
	border-radius: 3px;
}

.boxHeader {
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
	border-bottom: 1px solid #dedede;
	color: #464647;
	padding: 10px;
	text-shadow: 0 1px #fff;
	font-weight: bold;
	font-size: 14px;
}

.boxContent {
	padding: 15px;
}

.loginFields {
	width: 100%;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #dedede;
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 13px;
}

.checkBox {
	color: #464647;
}
.checkBox input{
	margin-left: 0;
	margin-bottom: 15px;
}

.loginButton {
	width: 100%;
	background: url("../images/btn_bg.png") 0 bottom repeat-x;
	height: 30px;
	border: 1px solid #a6330c;
	color: #ffffff;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 0 1px 0 0 #bfbfbf;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.requiredField {
	display: none;
	margin-bottom: 10px;
	color: #dd4b39;
}
