@include all-flags-sprites;

body {
	margin-left: 20px;
	font: 13px/20px Arial,Helvetica,sans-serif;
}

/*header*/

nav {
    background: url(../images/header_bg.png) 0 0 repeat;
    height: 62px;
}

nav > ul {
	margin-top:21px;
}

ul {
	list-style: outside none none;
}


#userName {
	margin-bottom: 8px;
}

#userName > span{
	text-decoration:none;
	padding: 10px 15px;
	cursor: pointer;	
}

.userNameColor {
	color: #8e8e8d;
}

#userName:hover > span{
    background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	color: #ffffff;
	border-bottom: 1px solid #1b1b1b;
}

.userName {
	background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	border-bottom: 1px solid #1b1b1b;
	color: #ffffff;
}

.tito{
	background: url("../images/menu_bg.png") repeat-x scroll 0 0 #1b1b1b;
	box-shadow: 0 0 5px #1e1e1e inset;
	border-bottom: 1px solid #1b1b1b;
	padding: 8px 15px 7px;
	display: none;	
}

.tito > span{
	color: #8e8e8d;
	cursor: pointer;
}

.tito:hover > span{
	background: #373737;
	box-shadow: 0 0 5px #1e1e1e inset;
	border-bottom: 1px solid #1b1b1b;
	color: #ffffff;
}

.arrow {
	width: 7px;
    height: 5px;
    background: url(../images/arrows.png) right 0 no-repeat;
    display:inline-block;
	
}

.errors {
	background-color: #FFCCCC;
	border: 1px solid #CC0000;
	width: 400px;
	margin-bottom: 8px;
}

.errorMessage li {
	list-style-type: none;
	margin-left: -25px;
}


.boxMessage {
	background-color: #DDFFDD;
	border: 1px solid #009900;
	width: 400px;
	margin-bottom: 8px;
}

.actionMessage li {
	list-style-type: none;
	margin-left: -25px;
}

.utility {
	right: 5px;
	position: absolute;
}

.dojoTabContainer {
	margin-left: 20px;
	margin-right: 253px;
}

table.calendar {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	border: 1px solid black;
}

table.calendar td {
	height: 3.5em;
	vertical-align: top;
	text-align: right;
	width: 14%;
	border: 1px solid black;
}

td.active {
	background-color: yellow;
}

label {
	font-weight: bold;
}

.tr {
	margin-left: 20%;
}

a.passwordReset {
	font-size: 22px;
	font-weight: bold;
	color: DodgerBlue;
}

/*Confirmation JQuery*/
div[id^=confirmBox_] {
	display: none;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #aaa;
	width: 300px;
	margin-left: 10px;
	padding: 6px 8px 8px;
	box-sizing: border-box;
	text-align: center;
}

div[id^=confirmBox_] .button {
	background-color: #ccc;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 2px;
	text-align: center;
	width: 80px;
	cursor: pointer;
}

div[id^=confirmBox_] .button:hover {
	background-color: #ddd;
}

div[id^=confirmBox_] .message {
	margin-bottom: 8px;
}

#addComment {	
	display: block;
}

#cancelCommentLink {
	cursor: pointer;
	display: none;
}

#commentBody {
    height: 2em;
    width: 50%;
    padding: 3px;
}

#addCommentSubmit{
	display: none;
}
