@import url("commonStyle.css");

.perso-info td{
	
	width:auto;
	border-top:1px solid #ddd;
	border-style: solid none none;
}

.perso-info  tr > td:first-child {
	font-weight: bold;
	color:#333;
}

.perso-info tr > td:nth-child(2){
	color:#5b5b5b;
}


input[type="radio"],input[type="checkbox"]{
	margin-right:15px;
}

#profileImage{
	position:relative;
}

.profile-image {
	padding-bottom:5px;
}


